#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(38, 38, 46);
  height: 100%;
  width: 100vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh; 
  padding: 3%;
  margin-top: 0;
  margin-left: -4em;
  background-color: black;
}

.logo {
  width: 12vw;
  height: 10vh;
  margin-left: max(3%, 40px);
}

.logo > img {
  width: 100%;
  height: 100%;
  min-width: 80px;
  min-height: 50px;
  border-radius: 2vh;
  opacity: 0.9;
}
/* Input box styling  */
.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 25vw;
  height: 40%;
  margin-left: 25%;
}

.inputBox {
  width: 70%;
  height: 100%;
  min-width: 100px;
  min-height: 30px;
  border-radius: 0.25rem;
  position: relative;
  background-color: rgba(96, 100, 151, 0.551);
  transition: 0.3s all;
  margin-right: auto;

}

.inputBox:hover {
  background-color: rgba(96, 100, 151, 0.551);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  transition: 0.3s all;
}

.custom-input {
  width: 100%;
  height: 100%;
  min-width: 100px;
  min-height: 30px;
  position: relative;
  text-align: center;
  border: none;
  color: white;
  border-radius: 4px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  outline: none;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out, 0.1s padding ease-in-out;
  -webkit-appearance: none;
  padding: 0px;
  outline: none;
  border: none;
}

.custom-input:focus-within {
  max-width: 100%;
  max-height: 100%;
  box-shadow: inset 0 0 10px 5px rgba(75, 169, 251, 0.653);
  background-color: #363442; 
  color: white;
  outline-offset: 0;
}

/* select styling */
.custom-select {
  width: 30%;
  min-width: 100px;
  height: 100%;
  min-height: 30px;
  border-radius: 4px;
  border: none;
  position: relative;
  background-color: rgba(96, 100, 151, 0.551);
  transition: 0.3s all;
  margin-right: auto;
  color: white;
  border-color: transparent;
  font-size: medium;
  margin-left: 1px;
  -webkit-appearance: none;
}

.select {
  appearance: none;
  -webkit-appearance: none; /*  safari styling  */
  border: none;
  width: 100%;
  font-size: 100%;
  -webkit-appearance: initial;
  padding: 12% 37% 12% 3%;
  -webkit-appearance: none;
  text-align: center;
  background-color:transparent;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  outline: none;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

/* movies styling */
.movies {
  display: flex;
  flex-wrap: wrap;
}

.movieBox {
  width: 12vw;
  margin: 3%;
  color: rgba(255, 255, 255, 0.604);
  transition: 0.3s all ease-in-out;
}

.movieBox:hover {
  scale: 1.5;
  transition: 0.3s all ease-in-out;
}

.movieBox:hover .movieImg>img {
  box-shadow: 0 0 2em #58c6a7d2;
  transition: 0.2s all ease-in-out;
}

.movieYear {
  width: 100%;
  height: 5%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  letter-spacing: 2px;
  font-size: 0.8em;
  margin-bottom: 0.5em;
  transition: 0.3s all ease-in-out;
}

.movieTitle {
  width: 100%;
  height: 14%;
  font-size: 100%;
  margin-top: 1em;
  transition: 0.3s all ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.movieTitle > div {
  font-size:1.2em;
  overflow: scroll; 
}

.movieMark {
  margin-top: 0em;
}
.movieMark > p {
  margin-top: 0.5em;
  font-size: 1.3em;
  color: #f5c711bc;

}
.movieMark > p > span {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.76);
}

.movieImg {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  transition: 0.3s all ease-in-out;
}
.movieImg > img {
  margin-top: 1em;
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.overview {
  display:none;
}

.movieImg:hover .overview {
  margin-top: 1.2em;
  display: block;
  position: absolute;
  color: white;
  height: 8rem;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 0.5em;
  transition: 0.3s all ease-in-out;
  overflow: scroll; 
}

.movieImg:has(.scroll:hover) > img {
  opacity: 0.12;
  transition: 0.3s all ease-in-out;
}

.scroll {
  color: rgba(255, 255, 255, 0.982);
}


.actorBox {
  display: flex;
  width: 90%;
  height: 50%;
  border: 2px black solid;
  margin: 1px;
  border-radius: 5px;
}

.actorInfo {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.actorPicture {
  max-width: 100%;
  max-height: inherit;
  padding: 2em;
  transition: 0.3s all ease-in-out;
  border-radius: 0.4em;
}

.actorPicture:hover {
  scale: 1.1;
  opacity: 0.9;
}

.actorPicture > img {
  max-width: 100%;
  max-height: 100%;
  transition: 0.3s all ease-in-out;
  border-radius: 0.4em;
}
.actorPicture > div {
  text-align: center;
  color: white;
  
}

.actorName {
  color: white;
  margin-top: -1em;
}

.actorMovies {
  height: 20%;
  display: flex;
  margin-left: 10%;
}

.actorMovies > .movieBox:hover {
  scale: 1.1;
}